# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore folders
test
test*
bin
include
lib
lib64
renamer
.vscode

# Ignore pdfs
*.pdf

# configs
pyvenv.cfg

# other
profile